*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 0;
}

#logo{
    font-weight: bold;
    color: #23353C;
    font-size: 36px;
}

.button-section{
    display: inline-flex;
    justify-content: flex-end;
}

#add{
    color: #23353C;
    font-weight: bold;
    font-size: 18px;
    margin-top: 5px;
    margin-right: 40px;
}

a{
    text-decoration: none;
}

.btn-all-animals{
    border: #23353C solid 2px;
    color: #23353C;
    background-color: white;
    height: 40px;
    width: 150px;
    font-weight: bold;
}

.btn-all-animals:hover{
    background-color: #23353C;
    color: white;
}

.header{
    padding-left: 170px;
    padding-right: 170px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#content{
    padding: 0;
}